@model g16_dotnet.Models.Domain.Pad
@{
    ViewData["Title"] = "Spel spelen";
}

@if ((string)ViewData["fase"] == "opdracht")
{
    <h2>@ViewData["Title"]</h2>
    <h3>Voortgang: @Model.Voortgang van de @Model.AantalOpdrachten opdrachten zijn voltooid</h3>
    <div >
        <embed src="~/docs/@(Model.HuidigeOpdracht.Oefening.Opgave).pdf" type="application/pdf" width="800" height="800">
    </div>
    <p>
        @Model.HuidigeOpdracht.GroepsBewerking.Omschrijving
    </p>
    if (Model.HuidigeOpdracht.AantalPogingen < 3)
	{
		<form asp-action="BeantwoordVraag" asp-route-padId="@Model.PadId">
        <div class="form-inline">
            <div class="form-group">
                <label for="groepsAntwoord"></label>
                <input type="text" id="groepsAntwoord" name="groepsAntwoord" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Bevestigen</button>
        </div>
    </form> 
    } else
    {
        <p>Jullie hebben al te veel pogingen gedaan, wacht op instructies van je leerkracht om verder te gaan!</p>
    }
}

@if ((string)ViewData["fase"] == "actie")
{
    <h2>Actie</h2>
    <p>
        @Model.HuidigeActie.Omschrijving
    </p>
    <form asp-action="VoerActieUit">
        <div class="form-inline">
            <div class="form-group">
                <label for="toegangsCode">Toegangscode: </label>
                <input type="text" id="toegangsCode" name="toegangsCode" class="form-control" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
}

@if ((string)ViewData["fase"] == "schatkist")
{
    <h2>Proficiat, jullie hebben de schatkist gevonden!!!</h2>

}


