@model g16_dotnet.Models.Domain.Groep;
@{
    ViewData["Title"] = "GroepOverzicht";
}
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    var checkSessie = function () {
        console.log("Checking sessie...");
        $.ajax({
            type: "GET",
            url: "@Url.Action("IsSessieActief", "Sessie")",
            data: {sessieId: @((int)ViewData["sessieId"])},
            contentType: "application/json;",
            dataType: "json",
            success: function (response) {
                if (response.isActief) {
                    $("#startspel").removeClass("not-active");
                } else {
                    setTimeout(checkSessie, 3000);
                }
            }
        });
    }

    checkSessie();
   
</script>

<div class="box">
    <h2 class="box-title box-title-display">Uw Groep</h2>
    <div class="box-container">
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Groepsnaam)</th>
                    <th>@Html.DisplayNameFor(model => model.Leerlingen)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Groepsnaam</td>
                    <td>
                        <ul class="table-ul">

                            @foreach (var leerling in Model.Leerlingen) {
                            <li>@($"{leerling.Voornaam} {leerling.Naam}")</li>
                    }
                        </ul>
                    </td>
                    <td class="table-align-right">
                        <a asp-action="StartSpel" id="startspel" asp-route-groepId="@Model.GroepId" class="table-button table-button-large not-active">Start Spel</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>