@model g16_dotnet.Models.Domain.Groep;
@{
    ViewData["Title"] = "GroepOverzicht";
}

<h2>Uw groep</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Groepsnaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leerlingen)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Groepsnaam</td>
            <td>
                    @foreach (var leerling in Model.Leerlingen) {
                        @($"{leerling.Voornaam} {leerling.Naam}");
                        <br />
                    }
             

            </td>
        </tr>
    </tbody>

</table>
<a asp-action="StartSpel" asp-route-groepId="@Model.GroepId" class="btn btn-success">Start Spel</a>
    