@model g16_dotnet.Models.SessieViewModel.SessieDetailViewModel


@foreach (var groep in Model.Groepen)
{
    <tr style="vertical-align: text-top">
        <td id="groep">
            <b>@groep.Groepsnaam</b>
        </td>
        <td>
            <ul class="table-ul" id="scroll">
                @foreach (var leerling in groep.Leerlingen)
                {
                    <li>@($"{leerling.Voornaam} {leerling.Naam}")</li>

                }

            </ul>
        </td>
        <td style="text-align:center; vertical-align:middle;">
            <input type="checkbox" onclick="return false;" @(groep.DeelnameBevestigd ? "checked" : "") class="checkbox">
        </td>
        <td style="vertical-align: middle; text-align:center;">
            @groep.Pad.Voortgang / @groep.Pad.AantalOpdrachten
        </td>
        <td id="vertical-align">
            @if (Model.IsActief)
            {
                @if (groep.DeelnameBevestigd)
                 {
                     @if (groep.Pad.State == g16_dotnet.Models.Domain.States.Geblokkeerd)
                      {
                          <a asp-action="WijzigGroepen" asp-route-sessieId="@Model.SessieCode" asp-route-behaviourId="1" asp-route-groepId="@groep.GroepId" class="box-button-default">Deblokkeer</a>
                      }
                      else
                      {
                          <a asp-action="WijzigGroepen" asp-route-sessieId="@Model.SessieCode" asp-route-behaviourId="0" asp-route-groepId="@groep.GroepId" class="box-button-danger">Blokkeer</a>
                      }
                     @if (groep.Pad.State == g16_dotnet.Models.Domain.States.Vergrendeld)
                      {
                          <a asp-action="WijzigGroepen" asp-route-sessieId="@Model.SessieCode" asp-route-behaviourId="2" asp-route-groepId="@groep.GroepId" class="box-button-default">Ontgrendel</a>
                      }
                 }
            }

        </td>
    </tr>
}
