@model IEnumerable<g16_dotnet.Models.SessieViewModel.SessieLijstViewModel>

@{
    ViewData["Title"] = "BeheerSessies";
}

<h2>Beheer sessies</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SessieNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SessieNaam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Omschrijving)
                </td>
                <td>
                    <a asp-action="SelecteerSessie" asp-route-sessieId="@item.SessieId" class="btn btn-primary">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
