@model g16_dotnet.Models.SessieViewModel.SessieDetailViewModel

@{
    ViewData["Title"] = "SessieDetail";
}


<div class="box">
    <h2 class="box-title box-title-display">Details van de sessie</h2>
    <div class="box-container">
        <div style="display: flex; flex-direction:column;margin-bottom: 10px; align-items:flex-start;">
            <p class="p-margin-top"><strong>Naam : </strong>@($"\t{Model.SessieNaam}")</p>
            <p class="p-margin-top"><strong>Code : </strong>@($"\t{Model.SessieCode}")</p>
            <p class="p-margin-top" style="min-width:150px"><strong>Omschrijving : </strong>@($"\t{Model.SessieOmschrijving}")</p>
            <form method="post" asp-action="SelecteerDoelgroep" asp-route-sessieId="@Model.SessieCode">
                <label for="doelgroep"><strong>Doelgroep: </strong></label>
                <select asp-for="@Model.Doelgroep" asp-items="@(ViewData["Doelgroepen"] as SelectList)" id="doelgroep" name="doelgroep" class="select-input"></select>
                <button type="submit" class="box-button box-button-small" style="margin: 8px;margin-left: 5px; margin-bottom:0px; padding: 8px 14px">Bevestigen</button>
            </form>
            <p class="text-danger" style="display:none;" id="succes-doelgroep">De doelgroep werd succesvol gewijzigd</p>

            <div style="margin: 15px 0; width:100%; text-align:right">
                @if (Model.IsActief && Model.Groepen.Count(g => g.DeelnameBevestigd) > 0) {
                    <a asp-action="WijzigGroepen" asp-route-sessieId="@Model.SessieCode" asp-route-behaviourId="0" class="box-button-danger box-button-small" style="margin-top: 20px;">Blokkeer Alle Groepen</a>
                    <a asp-action="WijzigGroepen" asp-route-sessieId="@Model.SessieCode" asp-route-behaviourId="1" class="box-button-default box-button-small">Deblokkeer Alle Groepen</a>

                }
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Groepen)

                    </th>
                    <th>
                        Leerlingen
                    </th>
                    <th style="text-align:center;">
                        Deelname bevestigd
                    </th>
                    <th>
                        Voortgang (oefening)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="groepenOverzicht">
                @Html.Partial("_GroepenOverzicht", Model)
            </tbody>
        </table>
        <div class="box-button-group">
            @if (!Model.IsActief) {
                <a asp-action="ActiveerSessie" asp-route-sessieId="@Model.SessieCode" class="box-button">Activeer deze sessie</a>
            } else {
                <span>Deze sessie is al geactiveerd</span>
            }
            <a asp-action="BeheerSessies" class="box-button-default">Terug naar lijst sessies</a>
        </div>
    </div>


</div>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var checkDeelnames = function () {
        console.log("Checking deelnames...");
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckDeelnames", "Sessie")",
            data: { sessieId: @Model.SessieCode},
            success: function (partialView) {
                $("#groepenOverzicht").html(partialView);
                setTimeout(checkDeelnames, 3000);
            }
        });
    }

    checkDeelnames();

</script>

@* Script van jonas *@
@*<script>
        function selecteerDoelGroep() {
            $('#succes-doelgroep').css('display', 'none');

        console.log('Ajax post called');
        let doelgroep = document.querySelector('#doelgroepSelect').value;
        let passData = {}
        passData.sessieId = "@Model.SessieCode";
        passData.doelgroep = doelgroep;
        console.log(passData);
        if (doelgroep !== '' && doelgroep != null) {
            let url = '@Url.Action("SelecteerDoelgroep", "Sessie")';
            $.ajax({
                url: url,
                type: 'POST',
                data: JSON.stringify(passData),
                contentType: 'application/json',
                success: function (data) {
                    $('#succes-doelgroep').css('display', 'block');
                }
            })
        }

    }
    </script>*@


<!--
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessieNaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieNaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessieCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieCode)
        </dd>
        <dt>
            Groepen
        </dt>
        <dd>
            @foreach (var groep in Model.Groepen) {
                @groep.Groepsnaam
                <br />
                @foreach (var leerling in groep.Leerlingen) {
                    <em>@($"{leerling.Voornaam} {leerling.Naam}")</em>
                    <br />
                }
            }
        </dd>
    </dl>
</div>

<div>

</div>
    -->
