@model g16_dotnet.Models.SessieViewModel.SessieDetailViewModel

@{
    ViewData["Title"] = "SessieDetail";
}


<div class="box">
    <h2 class="box-title box-title-display">Details van de sessie</h2>
    <div class="box-container">
        <div style="display: flex; flex-direction:row;margin-bottom: 30px;">
            <span><h4>Naam:</h4><p>@Model.SessieNaam</p></span><hr style="margin: 0 20px" />
            <span><h4>Code:</h4><p>@Model.SessieCode</p></span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Groepen)

                    </th>
                    <th>
                        Leerlingen
                    </th>
                    <th>
                        Extra
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var groep in Model.Groepen) {
                    <tr style="vertical-align: text-top">
                        <td id="groep">
                            <b>@groep.Groepsnaam</b>
                        </td>
                        <td>
                            <ul class="table-ul" id="scroll">
                                @foreach (var leerling in groep.Leerlingen) {
                                    <li>@($"{leerling.Voornaam} {leerling.Naam}")</li>

                                }

                            </ul>
                        </td>
                        <td id="vertical-align">
                            @if (groep.Pad.IsGeblokkeerd) {
                                <a asp-action="DeblokkeerGroep" asp-route-sessieId="@Model.SessieCode" asp-route-groepId="@groep.GroepId" class="box-button-default">Deblokkeer</a>
                            } else {
                                <a asp-action="BlokkeerGroep" asp-route-sessieId="@Model.SessieCode" asp-route-groepId="@groep.GroepId" class="box-button-danger">Blokkeer</a>
                            }
                            <a asp-action="OntgrendelGroep" asp-route-sessieId="@Model.SessieCode" asp-route-groepId="@groep.GroepId" class="box-button-yellow">Ontgrendel</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="box-button-group">
            @if (!Model.IsActief) {
                <a asp-action="ActiveerSessie" asp-route-sessieId="@Model.SessieCode" class="box-button">Activeer deze sessie</a>
            } else {
                <span>Deze sessie is al geactiveerd</span>
            }
            <a asp-action="BeheerSessies" class="box-button-default">Terug naar lijst sessies</a>
        </div>
    </div>


</div>


<!--
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessieNaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieNaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessieCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieCode)
        </dd>
        <dt>
            Groepen
        </dt>
        <dd>
            @foreach (var groep in Model.Groepen) {
                @groep.Groepsnaam
                <br />
                @foreach (var leerling in groep.Leerlingen) {
                    <em>@($"{leerling.Voornaam} {leerling.Naam}")</em>
                    <br />
                }
            }
        </dd>
    </dl>
</div>

<div>

</div>
    -->
