@model g16_dotnet.Models.SessieViewModel.SessieDetailViewModel

@{
    ViewData["Title"] = "SessieDetail";
}

<h2>Details van de sessie</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessieNaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieNaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessieCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieCode)
        </dd>
    </dl>
</div>
<div>
    @foreach (var groep in Model.Groepen)
    {
        <p>
            @groep.Groepsnaam
        </p>
        <ul>
            @foreach(var leerling in groep.Leerlingen)
            {
                <li>@($"{leerling.Voornaam} {leerling.Naam}")</li>
            }
        </ul>
    }
</div>
<div>
    <a asp-action="ActiveerSessie" asp-route-sessieId="@Model.SessieCode" class="btn btn-success">Activeer</a>
    <a asp-action="BeheerSessies">Terug naar lijst sessies</a>
</div>
