@model g16_dotnet.Models.SessieViewModel.SessieDetailViewModel

@{
    ViewData["Title"] = "SessieDetail";
}


<div class="box">
    <h2 class="box-title box-title-display">Details van de sessie</h2>
    <div class="box-container">
        <div style="display: flex; flex-direction:row;margin-bottom: 30px; align-items:center;">
            <p><strong>Naam</strong>@($"\t{Model.SessieNaam}")</p>
            <p><strong>Code</strong>@($"\t{Model.SessieCode}")</p>

            <div style="margin: 30px 0; width:100%; text-align:right">
                @if (Model.IsActief)
                {
                    <a asp-action="BlokkeerAlleGroepen" asp-route-sessieId="@Model.SessieCode" class="box-button-danger">Blokkeer Alle Groepen</a>
                    <a asp-action="DeblokkeerAlleGroepen" asp-route-sessieId="@Model.SessieCode" class="box-button-default">Deblokkeer Alle Groepen</a>

                }
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Groepen)

                    </th>
                    <th>
                        Leerlingen
                    </th>
                    <th style="text-align:center;">
                        Deelname bevestigd
                    </th>
                    <th>
                        Voortgang (oefening)
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody id="groepenOverzicht">
                @Html.Partial("_GroepenOverzicht", Model);
            </tbody>
        </table>
        <div class="box-button-group">
            @if (!Model.IsActief)
            {
                <a asp-action="ActiveerSessie" asp-route-sessieId="@Model.SessieCode" class="box-button">Activeer deze sessie</a>
            }
            else
            {
                <span>Deze sessie is al geactiveerd</span>
            }
            <a asp-action="BeheerSessies" class="box-button-default">Terug naar lijst sessies</a>
        </div>
    </div>


</div>

<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    var checkDeelnames = function () {
        console.log("Checking deelnames...");
        $.ajax({
            type: "GET",
            url: "@Url.Action("CheckDeelnames", "Sessie")",
            data: { sessieId: @Model.SessieCode},
            success: function (partialView) {
                $("#groepenOverzicht").html(partialView);
                setTimeout(checkDeelnames, 3000);
            }
        });
    }

    checkDeelnames();

</script>


<!--
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessieNaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieNaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessieCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieCode)
        </dd>
        <dt>
            Groepen
        </dt>
        <dd>
            @foreach (var groep in Model.Groepen) {
                @groep.Groepsnaam
                <br />
                @foreach (var leerling in groep.Leerlingen) {
                    <em>@($"{leerling.Voornaam} {leerling.Naam}")</em>
                    <br />
                }
            }
        </dd>
    </dl>
</div>

<div>

</div>
    -->
