@model g16_dotnet.Models.SessieViewModel.SessieDetailViewModel

@{
    ViewData["Title"] = "SessieDetail";
}

<h2>Details van de sessie</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SessieNaam)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieNaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SessieCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SessieCode)
        </dd>
        <dt>
            Groepen
        </dt>
        <dd>
            @foreach (var groep in Model.Groepen)
            {
                @groep.Groepsnaam
                <br />
                @foreach (var leerling in groep.Leerlingen)
                {   
                <em>@($"{leerling.Voornaam} {leerling.Naam}")</em>
                <br />
                }
            }
        </dd>
    </dl>
</div>
    
<div>
    <a asp-action="ActiveerSessie" asp-route-sessieId="@Model.SessieCode" class="btn btn-success">Activeer deze sessie</a>
    <a asp-action="BeheerSessies" class="btn btn-default">Terug naar lijst sessies</a>
</div>
